body,h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
#box1{
    background-color:#35424a;
    border-bottom:3px solid rgb(233, 95, 45);
}
.container{
    width:70%;
    margin:auto;
}
#box1 h1 {
    color: #fff;
    font-family: sans-serif;
    padding: 15px 0;
    display: inline-block;
}
#box1 .logo {
    color: coral;
}
.box2 {
    float: right;
}
.box2 li {display: inline;}
.box2 li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size:18px;
    display: inline-block;
    padding:20px 15px;
}
.box2 li a:hover{
    color:coral;
    cursor: pointer;
}
#banner{
    height:60vh;
    background-image:url(../images/pngtree-city-building-blue-technology-banner-background-image_785461.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
    font-family: sans-serif;
}
#banner h1 { padding-top: 150px;
    margin-bottom: 20px;
    font-size: 55px;

}
#box3 {
    background-color: #35424a;
    padding:20px 0;
}
#box3 input{float: right;}
#box3 h3 {
    display: inline-block;
    color: #fff;
    font-size: 25px;
}
#box3 .box5 {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid greenyellow;
}
#box3 .box4 {
    padding: 5px;
    background-color: rgb(165, 56, 16);
    border: 1px solid greenyellow;
    border-radius: 5px;
}    
#box3 .box4:hover{
    cursor: pointer;
}
#box3 .box5:hover {
    cursor: pointer;
}
#box6 {
    padding:30px 0;
}
.box8 {
    width:33.3%;
    float: left;
    text-align: center;
    font-family: sans-serif;
}
.box8 img {
    max-width: 100%;
    width:150px;
}
.clean {
    clear: both;
    width:600px;

}
.footer{text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    background-color: rgb(206, 66, 15);
    margin-top: 10px;
    padding:30px 0;
    color: #fff;}
#main{
    padding: 30px 0;
    font-family: sans-serif;
    margin-bottom: 20px;

}
.main1 {
    width:60%;
    float: left;
}
.main2 {
    width:30%;
    float:right;
}
.main3 {
    margin-top: 10px;
    background-color: #35424a;
    color: #fff;
    font-family: sans-serif;
    padding:10px;
}
.make1{
    margin-top:-8px;
}
.services-box {
    background-color: #e5e5e5; 
    padding:10px; 
    border:4px solid white; 
     
}
.dog {
    background-color: #35424a;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top:10px;
    margin-top: 25px;
}
.dog label {
    display: block;
    margin:5px;
}
.dog input,textarea {
    width:90%;
    padding: 10px;
}

.activate{
    color: coral;
} 
.box4{
    padding: 5px;
    background-color: rgb(165, 56, 16);
    border: 1px solid greenyellow;
    border-radius: 5px;
}